{{header}}

<article class="single-post-container page-container">
  <header class="post-header">
    <h1 class="entry-title">Contact</h1>
  </header>
  
  <div class="entry-content">
    <p class="wp-block-paragraph">I'd love to hear from you! Please drop me a line at: <a href="mailto:booking@billtribble.com">booking@billtribble.com</a></p>
    <p class="wp-block-paragraph">or add me on <a href="https://www.instagram.com/bill_tribble/" target="_blank" rel="noopener">Instagram</a></p>
  </div>
</article>

{{footer}}
